name: Deploy CRUD MySQL Service

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password \
          | docker login --username AWS --password-stdin ${{ secrets.ECR_URI }}

      - name: Build Image
        run: |
          docker build -t crud-mysql ./app
          docker tag crud-mysql:latest ${{ secrets.ECR_URI }}:latest

      - name: Push Image
        run: |
          docker push ${{ secrets.ECR_URI }}:latest

      - name: Deploy Stack
        run: |
          aws cloudformation deploy \
            --template-file infra/template.yaml \
            --stack-name crud-mysql-stack \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides ImageUri=${{ secrets.ECR_URI }}:latest